/* override standard styles */
.slide ol, .slide ul { margin-bottom: 24px;}
.slide pre { margin: 0px !important }
.slide pre code { line-height: 1.4 }
.slide>div { padding: 70px 100px 0px 100px } 

/* custom styles */
.lr { float: left; width: 100% }
.lr::after { clear: both }
.lr>* {float :left }
.c1 { width: 10% }
.c2 { width: 20% }
.c3 { width: 30% }
.c4 { width: 40% }
.c5 { width: 50% }
.c6 { width: 60% }
.c7 { width: 70% }
.c8 { width: 80% }
.c9 { width: 90% }

img.center { display: block; margin: auto; }

plus, minus { display: list-item; list-style-type: none; }
plus:before { display: inline; content: "➕"; font-weight: bold; margin-right: 0.5em; color: green }
minus:before { display: inline; content: "➖"; font-weight: bold; margin-right: 0.5em; color: red }
