<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Web технологии</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../node_modules/shower-bright/styles/screen.css">
    <link rel="stylesheet" href="../css/highlight/github.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body class="list">
    <header class="caption">
        <h1>Web технологии</h1>
        <p><a href="https://github.com/mialinx/">Дмитрий Смаль</a></p>
    </header>

    <section class="slide shout"><div>
        <h2>Обработка форм</h2>
    </div></section>

    <section class="slide"><div>
        <h2>GET / POST формы</h2>
        <p>
            <b>GET</b> - метод для <b>получения</b> данных. GET запросы могут быть закешированны промежуточными серверами.
            <b>GET</b> должен применяться только в <b>поисковых</b> формах.
        </p>
        <p>
            <b>POST</b> - метод для изменения данных. POST запросы никогда не кешируются промежуточными серверами.
            <b>POST</b> должен применяться в формах, <b>изменяющих данные</b> на сервере.
    </div></section>

    <section class="slide"><div>
        <h2>Общий сценарий обработки</h2>
        <img src="pictures/forms.png" class="center">
    </div></section>

    <section class="slide"><div>
        <h2>Best practice</h2>
        <ul>
            <li><b>Всегда</b> проверять пользовательские данные</li>
            <li>Для форм, изменяющих данные, использовать метод <b>POST</b></li>
            <li>Не заставлять вводить данные повторно</li>
            <li>Сообщать об ошибках детально - по полям</li>
            <li>Сообщать об успешном сохранении формы</li>
            <li>При успешном сохранении делать перенаправление</li>
        </ul>
    </div></section>

    <section class="slide shout"><div>
        <h2>HTTP Redirect</h2>
    </div></section>

    <section class="slide"><div>
        <h2>Перенаправления в HTTP</h2>
        <img src="pictures/redirect.png" class="center">
    </div></section>

    <section class="slide"><div>
        <h2>Перенаправления в HTTP</h2>
        <ul>
            <li><code>302 Found</code> - временное перенаправление</li>
            <li><code>301 Moved Permanently</code> - постоянное перенаправление (кешируется в браузере)</li>
            <li><code>Location: url</code> - URL для повторного запроса. Может быть как абсолютным, так и относительным.</li>
        </ul>
    </div></section>

    <section class="slide"><div>
        <h2>Перенаправления в Django</h2>
        <script type="snippet" lang="python">
            from django.http import HttpResponseRedirect

            def some_view(request):
                # logic..
                return HttpResponseRedirect('/new_url/')

            # уязвимость open redirect
            def dangerous_view(request):
                url = request.GET.get('continue')
                return HttpResponseRedirect(url)
        </script>
    </div></section>

    <section class="slide shout"><div>
        <h2>Django forms</h2>
    </div></section>

    <section class="slide"><div>
        <h2>Описание форм</h2>
        <script type="snippet" lang="python">
            from django import forms

            class FeedbackForm(forms.Form):
                email = forms.EmailField(max_length=100)
                message = forms.CharField(widget=forms.Textarea)

                def clean(self):
                    if is_spam(self.cleaned_data):
                        raise forms.ValidationError(
                            u'Сообщение похоже на спам',
                            code='spam'
                        )
        </script>
    </div></section>

    <section class="slide"><div>
        <script type="snippet" lang="python">
            class AddPostForm(forms.Form):
                title = forms.CharField(max_length=100)
                message = forms.CharField(widget=forms.Textarea)

                def clean_message(self):
                    message = self.cleaned_data['message']
                    if not is_ethic(message):
                        raise forms.ValidationError(
                            u'Сообщение не корректно', code=12)
                    return message + \
                           "\nThank you for your attention."

                def save(self):
                    post = Post(**self.cleaned_data)
                    post.save()
                    return post
        </script>
    </div></section>

    <section class="slide"><div>
        <h2>Типы полей</h2>
        <ul>
            <li><code>BooleanField</code> - флажок</li>
            <li><code>CharField</code> - текстовое поле ввода</li>
            <li><code>EmailField</code> - текстовое поле, Email</li>
            <!--li><code>PasswordField</code> - текстовое поле, пароль</li-->
            <li><code>ChoiceField</code> - выбор из нескольких вариантов</li>
            <li><code>DateField</code> - выбор даты</li>
            <li><code>DateTimeField</code> - выбор даты и времени</li>
            <li><code>FileField</code> - загрузка файлов</li>
        </ul>
    </div></section>

    <section class="slide"><div>
        <h2>Валидация данных</h2>
        <ul>
            <li>По типу поля, например <code>EmailField</code></li>
            <li><code>clean_xxx</code> - доп. проверка поля xxx, может изменить значение</li>
            <li><code>clean</code> - доп. проверка всех полей формы</li>
        </ul>
        <p>
            Методы <code>clean</code> и <code>clean_xxx</code> должны использовать <code>self.cleaned_data</code>
            для получения данных формы и поднять <code>ValidationError</code> в случае некорректных данных.
        </p>
        </ul>
    </div></section>

    <section class="slide"><div>
        <h2>Использование во view</h2>
        <script type="snippet" lang="python">
            def post_add(request):
                if request.method == "POST":
                    form = AddPostForm(request.POST)
                    if form.is_valid():
                        post = form.save()
                        url = post.get_url()
                        return HttpResponseRedirect(url)
                else:
                    form = AddPostForm()
                return render(request, 'blog/post_add.html', {
                    'form': form
                })
        </script>
    </div></section>

    <section class="slide"><div>
        <h2>Использование в шаблонах</h2>
        <script type="snippet" lang="django">
            {{ form.as_ul }}
        </script>
        <script type="snippet" lang="django">
            {{ form.as_p }}
        </script>
        <script type="snippet" lang="django">
            {{ form.as_table }}
        </script>
    </div></section>

    <section class="slide"><div>
        <script type="snippet" lang="django">
            {% for e in form.non_field_errors %}
              <div class="alert alert-danger">{{ e }}</div>
            {% endfor %}
            <form class="form-horizontal" method="post" action="/blog/add/">
              <fieldset>
                {% for field in form %}
                  <div class="control-group 
                    {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label }}</label>
                    <div class="controls">{{ field }}</div>
                  </div>
                {% endfor %}
              </fieldset>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                Сохранить</button>
              </div>
            </form>
        </script>
    </div></section>

    <section class="slide"><div>
        <h2>Model forms</h2>
        <script type="snippet" lang="python">
            from django.forms import ModelForm

            class ArticleForm(ModelForm):
                class Meta:
                    model = Post
                    fields = ['title', 'content', 
                              'category', 'tags']
        </script>
        <p>Метод <code>save</code> уже определен и сохраняет модель <code>Meta.model</code></p>
    </div></section>

    <section class="slide shout"><div>
        <h2>Безопасность</h2>
    </div></section>

    <section class="slide"><div>
        <h2>Проверка пользователя</h2>
        <script type="snippet" lang="python">
            class AddPostForm(forms.Form):
                # ... поля ...
                def __init__(self, user, **kwargs):
                    self._user = user
                    super(AddPostForm, self).__init__(**kwargs)
                def clean(self):
                    if self._user.is_banned:
                        raise ValidationError(u'Доступ ограничен')
                def save(self):
                    self.cleaned_data['author'] = self._user
                    return Post.objects.create(**self.cleaned_data)
        </script>
    </div></section>

    <section class="slide"><div>
        <h2>Проверка пользователя (2)</h2>
        <script type="snippet" lang="python">
            from django.contrib.auth.decorators \
                import login_required

            @login_required
            def post_add(request):
                form = AddPostForm(request.user, request.POST)
                if form.is_valid():
                    post = form.save()
        </script>
    </div></section>

    <section class="slide"><div>
        <h2>Cross Site Resource Forgery</h2>
        <img src="pictures/csrf.png" class="center">
    </div></section>

    <section class="slide"><div>
        <h2>Методы борьбы с CSRF</h2>
        <ul>
            <li>Проверка метода <code>@require_POST</code></li>
            <li>Проверка заголовка <code>Referer</code></li>
            <li>Проверка CSRF-токенов</li>
        </ul>
        <script type="snippet" lang="django">
            <form method="POST" action="/blog/add">
                {% csrf_token %}
            </form>
        </script>
    </div></section>

    <div class="progress"><div></div></div>
    <script src="../js/highlight.pack.js"></script>
    <script src="../node_modules/shower-core/shower.min.js"></script>
    <script src="../js/init.js"></script>

</body>
</html>
